html {
    text-align: center;
    background-color: rgb(97, 74, 119);
    padding: 0;
    padding-left: 3%;
    padding-right: 3%;
    color: white;
    margin: 0;
    font-family: 'Martian Mono', monospace;
}

body {
    display: flex-box;
    justify-content: center;
}

h1 {
    font-size: 30px;
    margin: 30px;
}
a {
    color: #c5bdcc;
}

#header {
    margin-top: 30px;
    margin-bottom: 30px;
}

hr {
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

#content {
    width: 80%;
    margin: 0 auto;
}

img {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

img.backarrow {
    width: 50px;
}

#title {
    display: flex;
    align-items: center;
    justify-content: center;
}